body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.common-btn1 {
  width: 25%;
  padding: 0.75rem;
  background-color: #09d01a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.common-btn1:hover {
  background-color: #0bd008a2;
}
@media screen and (max-width: 576px) {
  .common-btn1 {
    font-size: 14px;
  }
}

.common-btn2 {
  width: 25%;
  padding: 0.75rem;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.common-btn2:hover {
  background-color: #7b0711;
}
@media screen and (max-width: 576px) {
  .common-btn2 {
    font-size: 14px;
  }
}