.payment-success-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.success.message {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.success.message h1 {
    color: #4caf50;
    margin-bottom: 20px;
    font-size: 2em;
}

.success.message p {
    color: #555;
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    .payment-success-page {
        padding: 20px;
    }

    .success.message {
        padding: 15px;
    }

    .success.message h1 {
        font-size: 1.5em;
    }

    .success.message p {
        font-size: 1em;
    }
}
